package {{completePackageName}}

import {{packageName}}.base.util.Either
import {{packageName}}.base.util.left
import {{packageName}}.base.util.right
import {{packageName}}.{{packageName}}.datastore.I{{feature}}DataStore
import {{packageName}}.{{packageName}}.datastore.local.I{{feature}}Store
import {{packageName}}.{{packageName}}.datastore.repository.I{{feature}}Repository

class {{feature}}Repository(
        private val remoteDataStore: I{{feature}}DataStore,
        private val localDataStore: I{{feature}}Store,
        private val isNetworkAvailable: Boolean,
        private val canFetchData: Boolean
    ): I{{feature}}Repository {

}