package {{completePackageName}}

import androidx.compose.runtime.Composable
import androidx.navigation.NavHostController
import {{packageName}}.{{featureName}}.viewmodel.{{feature}}ViewModel

@Composable
fun {{feature}}Screen(viewModel: {{feature}}ViewModel, navController: NavHostController) {


}