package {{packageName}}.{{featureName}}.ui.screen

import androidx.compose.runtime.Composable
import androidx.navigation.NavHostController
import {{packageName}}.{{featureName}}.viewmodel.{{feature}}ViewModel

@Composable
fun {{feature}}DetailsScreen(viewModel: {{feature}}ViewModel, navController: NavHostController) {


}