package {{packageName}}.base.ui.util

import androidx.compose.runtime.Composable
import {{packageName}}.base.ui.component.ErrorPage
import {{packageName}}.base.ui.component.InitPage
import {{packageName}}.base.ui.component.LoadingPage
import {{packageName}}.base.ui.component.NoResultPage
import {{packageName}}.base.util.Status

@Composable
fun ResourceReactor(status: Status, type: String, success: @Composable () -> Unit) {
    when(status) {
        Status.Init -> {
            InitPage(message = "Init page...")
        }
        Status.Error -> {
            ErrorPage(error = "Error occurred while fetching $type")
        }
        Status.Loading -> {
            LoadingPage(loading = "Loading $type...")
        }
        Status.NoResult -> {
            NoResultPage(warning = "No $type")
        }
        Status.Success -> {
            success()
        }
    }
}