package {{packageName}}.datastore.repository

import {{packageName}}.util.Either
{{! where would be the model classes? }}
{{! import *.model.* }}

interface I{{feature}}Repository {

    {{#generateAPI}}
    suspend fun get{{feature}}s(page: Int = 1, perPage: Int = 10): Either<List<{{feature}}>, Exception>

    suspend fun get{{feature}}ById(id: String): Either<{{feature}}?, Exception>

    suspend fun delete{{feature}}ById(id: String):  Either<Unit, Exception>

    suspend fun post{{feature}}({{featureName}}: {{feature}}): Either<{{feature}}?, Exception>

    suspend fun update{{feature}}({{featureName}}: {{feature}}): Either<{{feature}}?, Exception>
    {{/generateAPI}}
}