package {{packageName}}.ui.screen

import androidx.compose.runtime.Composable
import androidx.navigation.NavHostController
import {{packageName}}.viewmodel.{{feature}}ViewModel

@Composable
fun {{feature}}Screen(viewModel: {{feature}}ViewModel, navController: NavHostController) {


}