package {{packageName}}.{{featureName}}.datastore.local.entity

import androidx.room.Embedded
import androidx.room.Entity
import androidx.room.PrimaryKey
{{! where would be the model classes? }}
{{! import *.model.* }}

@Entity(tableName = "{{feature}}Entity", primaryKeys = ["id"])
data class {{feature}}Entity(

    @Embedded
    val {{featureName}}: {{feature}}

    @PrimaryKey(autoGenerate = true)
    val index: Int = 0
)