package {{completePackageName}}

import androidx.compose.runtime.Composable

@Composable
fun {{feature}}Component(
    viewModel: {{feature}}ViewModel,
    {{featureName}}: {{feature}},
    navController: NavController
) {

}