package {{packageName}}.ui.component

import androidx.compose.runtime.Composable
import androidx.navigation.NavController
import {{packageName}}.viewmodel.{{feature}}ViewModel

@Composable
fun {{feature}}Component(
    viewModel: {{feature}}ViewModel,
    {{featureName}}: {{feature}},
    navController: NavController
) {

}